<header>
    <nav class = "main_nav">
        <ul>
            <li><a href="/users/1">My Profile</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/posts/create">New post</a></li>
            <li><a href="/users/create">New user</a></li>
        </ul>
    </nav>
</header>