<header>
    <nav class = "main_nav">
        <ul>
            <li><a href="/users/1">MyFace</a></li>            
            <!-- <li><a href="/users/create">New User/a></li> -->
            <li><a href="#">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/posts/create">+ New Post</a></li>
        </ul>
    </nav>

    <button type = "button" class = "mobile_nav_toggle" id = "mobile_nav_toggle" onclick="toggleMobileNav()">
        X
    </button>

    <nav class = "mobile_nav" id = "mobile_nav">
        <ul>
            <li><a href="/users/1">MyFace</a></li>            
            <li><a href="#">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/posts/create">+ New Post</a></li>
        </ul>
    </nav>
</header>