/* Add your styles here. */
/* could create separate css file for each page we want to style and then import them all here like so */
/* @import "user_detail.css";
@import "nav_bar.css"; */
@import "user_detail_design.css";
@import "nav_bar_design.css";


* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}

header, body, footer {
    width: 100%;
}


