:root {
    --color1: #BEE9E8;
    --color2: #62B6CB;
    --color3: #1B4965;
    --color4: #CAE9FF;
    --color5: #5FA8D3;    
    --color6: #F0F9FF;
}

.main_nav {
    width: 100%;
    display: flex;
    justify-content: center;    
    background-color: var(--color3);
    color: var(--color2);
  }
  
.main_nav ul {
    display: flex;
    list-style-type: none;
}
  
.main_nav a {
    display: block;
    text-align: center;
    color: var(--color6);
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
    /* transition: transform 0.3s ease-out; */
}
  
  /* nav a:hover {
    transform: translateY(6px);
  }   */

@media only screen and (max-width:375px) {
    .main_nav a {
        padding-left: 0.3em;
        padding-right: 0.3em;
        font-size: 14px;
    }
}

@media only screen and (min-width: 375px) {
    .main_nav a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media only screen and (min-width: 425px) {
    .main_nav a {
        padding-left: 0.8em;
        padding-right: 0.8em;
    }
}

@media only screen and (min-width: 768px) {
    .main_nav a {
        padding-left: 1.25em;
        padding-right: 1.25em;
    }
}