:root {
    --color1: #BEE9E8;
    --color2: #62B6CB;
    --color3: #1B4965;
    --color4: #CAE9FF;
    --color5: #5FA8D3;
    --color6: #F0F9FF;
}

body {
    background-color: var(--color5);
    color: var(--color6);
}

.posts_navbar {
    width: 100%;
    display: flex;
    justify-content: center;    
    background-color: var(--color6);
    color: var(--color5);
}

.posts_navbar ul {
    display: flex;
    list-style-type: none;
}
  
.posts_navbar a {
    display: block;
    text-align: center;
    color: var(--color5);
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* transition: transform 0.3s ease-out; */
}

.user_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: var(--coverImageUrl);
    background-size: cover;   
    background-position: center;
    padding: 15px 0;
}

.profile_photo {
    border-radius: 50%;
}

.posts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container_header {
    text-align: left;
    padding: 0.5em 0;
}

.user_post {
    display: flex;
    flex-direction: column;
    background-color: var(--color6);
    color: var(--color2);
    padding: 0.3em;
    margin: 0.3em 0;
    border-radius: 5px;
}

.post_timestamp {
    text-align: left;
    font-size: smaller;
}

.post_message {
    text-align: left;
    font-size: larger;
    padding: 0.2em 1.6em;
    font-weight: 500;
}

.post_left_quote {
    text-align: left;
    font-size: larger;
    padding: 0 0.25em;
}

.post_right_quote {
    text-align: right;
    font-size: larger;
    padding: 0 0.25em;
}

.post_link {
    text-align: right;
    font-size: x-large;
    font-weight: normal;
    color: var(--color2);
}

.post_link:visited {
    color: grey;
}

@media only screen and (max-width: 500px) {
    .profile_photo {
        width: 50%;
    }
    
    .posts_navbar a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .user_post {
        width: 92%;
    }

    .container_header {
        width: 92%;
    }
}

@media only screen and (min-width: 500px) {
    .profile_photo {
        width: 35%;
    }
}

@media only screen and (min-width: 540px) {
    .profile_photo {
        width: 30%;
    }
}

@media only screen and (min-width: 660px) {
    .profile_photo {
        width: 25%;
    }
}

@media only screen and (min-width: 868px) {
    .profile_photo {
        width: 20%;
    }
}

@media only screen and (min-width: 1440px) {
    .profile_photo {
        width: 16%;
    }
} 