:root {
    /* colours */
    --bg-color: #252A38;
    --darker-bg-color: #151820;
    --fg-color: #DCDCDC;
    --primary-color: #2985FF;
    --overlay-color-full: rgba(37, 42, 56, 56); 
    --overlay-color-none: rgba(37, 42, 56, 0);

    /* font weights */
    --regular-font: 400;
    --bold-font: 600;
    --lighter-font: 300;

    /* mobile font sizes and line heights */
    --title-font-mob: 24px;
    --subtitle-font-mob: 20px;
    --button-font-mob: 20px;
    --body-font-mob: 14px;
    --sec-font-mob: 10px;

    --title-lh-mob: 32px;
    --subtitle-lh-mob: 24px;
    --button-lh-mob: 32px;
    --body-lh-mob: 20px;
    --sec-lh-mob: 16px;

    /* tablet font sizes and line heights */
    --title-font-tab: 24px;
    --subtitle-font-tab: 20px;
    --button-font-tab: 20px;
    --body-font-tab: 14px;
    --sec-font-tab: 10px;

    --title-lh-tab: 32px;
    --subtitle-lh-tab: 24px;
    --button-lh-tab: 32px;
    --body-lh-tab: 20px;
    --sec-lh-tab: 16px;

    /* desktop font sizes and line heights */
    --title-font-desk: 32px;
    --subtitle-font-desk: 24px;
    --button-font-desk: 24px;
    --body-font-desk: 16px;
    --sec-font-desk: 12px;

    --title-lh-desk: 40px;
    --subtitle-lh-desk: 32px;
    --button-lh-desk: 40px;
    --body-lh-desk: 24px;
    --sec-lh-desk: 20px;

    /* spacing for elements on mobile */
    --gutters-mob: 24px;
    --card-sep-mob: 24px;
    --sec-spacing-mob: 40px;
    --card-padding-mob: 16px;
    
    /* spacing for elements on tablet */
    --gutters-tab: 32px;
    --card-sep-tab: 32px;
    --sec-spacing-tab: 48px;
    --card-padding-tab: 16px;

    /* spacing for elements on desktop */
    --gutters-desk: 48px;
    --card-sep-desk: 48px;
    --sec-spacing-desk: 80px;
    --card-padding-desk: 24px;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-weight: var(--regular-font);
}

.user_info {
    width: 100%;
    background-image: var(--coverImageUrl);
    background-size: cover;   
    background-position: center;
    position: relative;
    z-index: 0;
}

.user_credentials {
    width: 100%;
    height: 60px; /* how to make it ~50% of image height? */
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to left, var(--overlay-color-full), var(--overlay-color-none));
    margin-bottom: 0;
    z-index: 1;
}

.profile_photo {
    border-radius: 50%;
    border: var(--fg-color) 4px solid;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    z-index: 2;
}

.profile_name {
    font-weight: var(--regular-font);   
    padding-right: 0;
    position: absolute;
    bottom: 0;
}

.profile_username {
    font-weight: var(--bold-font); 
    padding-right: 0;
    position: absolute;
    bottom: 0;
    transform: translateY(105%);
}

.profile_email {
    font-weight: var(--lighter-font); 
    padding-right: 0;
    position: absolute;
    bottom: 0;
    transform: translateY(210%);
}

.all_posts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.posts_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.user_post {
    flex-basis: 33.333333%;
    background-color: var(--darker-bg-color);
}

.post_image {
    object-fit: scale-down;
}

.subtitle {
    font-weight: var(--regular-font);
}

/* Mobile */
@media only screen and (max-width: 425px) {
    body {
        line-height: var(--body-lh-mob);
    }

    div {
        margin-bottom: var(--sec-spacing-mob);
    }

    .user_info {
        height: 24vh;
    }

    .user_credentials {
        /* padding-left: calc(2*var(--gutters-mob) + 28%); */
    }

    .profile_photo {
        width: 30%;
        left: var(--gutters-mob);
    }

    .profile_name {
        font-size: var(--title-font-mob);   
        line-height: var(--title-lh-mob);
        padding-left: calc(2*var(--gutters-mob) + 28%); 
    }

    .profile_username {
        font-size: var(--body-font-mob);          
        line-height: var(--body-lh-mob); 
        padding-left: calc(2*var(--gutters-mob) + 28%); 
    }

    .profile_email {
        font-size: var(--body-font-mob);
        line-height: var(--body-lh-mob);
        padding-left: calc(2*var(--gutters-mob) + 28%);
    }

    .all_posts_container {
        padding-top: var(--gutters-mob);
    }

    .subtitle {
        font-size: var(--subtitle-font-mob);
        line-height: var(--subtitle-lh-mob);
    }

    .user_post {
        /* padding: var(--card-padding-mob); */
        margin-bottom: var(--card-padding-mob);
    }

}

/* tablet size */
@media only screen and (min-width: 425px) {
    body {
        line-height: var(--body-lh-tab);
    }

    div {
        margin-bottom: var(--sec-spacing-tab);
    }

    .user_info {
        height: 30vh;
    }

    .user_credentials {
        
    }

    .profile_photo {
        width: 25%;
        left: var(--gutters-tab);
    }

    .profile_name {
        font-size: var(--title-font-tab);   
        line-height: var(--title-lh-tab); 
        padding-left: calc(2*var(--gutters-tab) + 25%);
    }

    .profile_username {
        font-size: var(--body-font-tab);          
        line-height: var(--body-lh-tab);  
        padding-left: calc(2*var(--gutters-tab) + 25%);
    }

    .profile_email {
        font-size: var(--body-font-tab);
        line-height: var(--body-lh-tab);
        padding-left: calc(2*var(--gutters-tab) + 25%);
    }

    .all_posts_container {
        padding-top: var(--gutters-tab);
    }

    .subtitle {
        font-size: var(--subtitle-font-tab);
        line-height: var(--subtitle-lh-tab);
    }

    .user_post {
        /* padding: var(--card-padding-tab); */
        margin-bottom: var(--card-padding-tab);
    }
}

/* Small desktop */
@media only screen and (min-width: 769px) {
    body {
        line-height: var(--body-lh-desk);
    }

    div {
        margin-bottom: var(--sec-spacing-desk);
    }

    .user_info {
        height: 30vh;
    }

    .user_credentials {
        /* padding-left: calc(2*var(--gutters-desk) + 22%); */
    }

    .profile_photo {
        width: 20%;
        left: var(--gutters-desk);
    }

    .profile_name {
        font-size: var(--title-font-desk);   
        line-height: var(--title-lh-desk); 
        padding-left: calc(2*var(--gutters-desk) + 22%);
    }

    .profile_username {
        font-size: var(--body-font-desk);          
        line-height: var(--body-lh-desk);  
        padding-left: calc(2*var(--gutters-desk) + 22%);
    }

    .profile_email {
        font-size: var(--body-font-desk);
        line-height: var(--body-lh-desk);
        padding-left: calc(2*var(--gutters-desk) + 22%);
    }

    .posts_navbar {
        display: none;
    }

    .all_posts_container {
        padding-top: var(--gutters-desk);
    }

    .subtitle {
        font-size: var(--subtitle-font-desk);
        line-height: var(--subtitle-lh-desk);
    }

    .user_post {
        /* padding: var(--card-padding-desk); */
        margin-bottom: var(--card-padding-desk);
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    body {
        line-height: var(--body-lh-desk);
    }

    .posts_navbar {
        display: none;
    }

    div {
        margin-bottom: var(--sec-spacing-desk);
    }

    .banner_div {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .user_info {
        height: 30vh;
        width: 66%;
    }

    .user_credentials {
        /* padding-left: calc(2*var(--gutters-desk) + 170px); */
    }

    .profile_photo {
        width: 170px;
        left: var(--gutters-desk);
    }

    .profile_name {
        font-size: var(--title-font-desk);   
        line-height: var(--title-lh-desk); 
        padding-left: calc(2*var(--gutters-desk) + 170px);
    }

    .profile_username {
        font-size: var(--body-font-desk);          
        line-height: var(--body-lh-desk);  
        padding-left: calc(2*var(--gutters-desk) + 170px);
    }

    .profile_email {
        font-size: var(--body-font-desk);
        line-height: var(--body-lh-desk);
        padding-left: calc(2*var(--gutters-desk) + 170px);
    }

    .posts_container, .likes_container, .dislikes_container {
        width: 66%;
    }

    .all_posts_container {
        padding-top: var(--gutters-desk);
    }

    .subtitle {
        font-size: var(--subtitle-font-desk);
        line-height: var(--subtitle-lh-desk);
    }

    .user_post {
        /* padding: var(--card-padding-desk); */
        margin-bottom: var(--card-padding-desk);
    }
}

